html, body {
    width: 1000px;
    height: 1000px;
}


.left {
    width: 33.33%;
    height: 100%;
    background-color: dodgerblue;
    float: left;
}
.middle {
    width: 33.33%;
    height: 100%;
    background-color: aquamarine;
    float: left;

}

.right {
    width: 33.33%;
    height: 80%;
    background-color: mediumspringgreen;
    float: left;

}

.imagebox {
    width: 33.33%;
    height: 20%;
    background-image: url("https://c2.staticflickr.com/4/3255/3866442633_4ce94401ed_b.jpg");
    background-size: cover;
    float: left;
}


