html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.headP {
    height: 13%;
    width: 100%;
    background-color: gainsboro;
    float: left;
}

.headC {
    height: 70%;
    width: 10%;
    margin-top: 2%;
    margin-left: 2%;
    background-color: cornflowerblue;
    box-sizing: border-box;
}

.text {
    font-size: 20px;
    height: 30%;
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: ghostwhite;
    overflow: auto;
    box-sizing: border-box;
}

.strip {
    height: 15%;
    width: 100%;
}

.one {
    background-color: dodgerblue;
}

.two {
    background-color: lightseagreen;
}

.three {
    background-color: mediumseagreen;
}

.footer {
    background-color: yellow;
}